apiVersion: v1alpha1
kind: Setting
metadata:
  name: unsplash-settings
spec:
  - group: basic
    label: 基本设置
    formSchema:
      - $formkit: password
        help: https://unsplash.com/developers
        label: Access Key
        name: accessKey
        validation: required
